asgiref
Django
sqlparse
tzdata
pip
Jinja2
filelock
redis
pytz
PyYAML
mysqlclient
colorama
MarkupSafe
certifi
itypes
coreapi
coreschema
click
uritemplate
urllib3
djangorestframework
packaging
inflection
idna
setuptools
whitenoise
Brotli
platformdirs
djangorestframework-simplejwt
Django
djangorestframework
drf-yasg
django-cors-headers
djangorestframework-jwt
django-filter
requests
django-oauth-toolkit
Pillow